In [1]:
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier 
from sklearn import metrics

dataset_url = "https://raw.githubusercontent.com/Faizal215/cubas/main/out2.csv"
df = pd.read_csv(dataset_url, dtype = {'status': str})

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   mean       11 non-null     float64
 1   max        11 non-null     float64
 2   kurtosis   11 non-null     float64
 3   variance   11 non-null     float64
 4   onenorm    11 non-null     float64
 5   mean1      11 non-null     float64
 6   max1       11 non-null     float64
 7   kurtosis1  11 non-null     float64
 8   variance1  11 non-null     float64
 9   onenorm1   11 non-null     float64
 10  status     11 non-null     object
dtypes: float64(10), object(1)
memory usage: 1.1+ KB

In [2]:
df.head(5)

,mean,max,kurtosis,variance,onenorm,mean1,max1,kurtosis1,variance1,onenorm1,status
0,-0.000020,6.976752,16.087093,0.111425,1.331746e+06,0.009558,33.622414,14.502220,7.907688,1.331746e+06,h
1,-0.000019,8.932420,13.212736,0.168242,1.055655e+06,0.002954,31.216814,12.244360,9.195284,1.055655e+06,h
2,-0.000047,7.912361,20.831987,0.147405,8.091255e+05,-0.005104,31.110516,12.372426,7.772573,8.091255e+05,h
3,-0.000557,35.947502,121.832101,1.085911,8.734991e+05,-0.002305,43.457676,12.853174,10.110199,8.734991e+05,s
4,-0.000187,38.968124,258.544464,0.497547,7.341528e+05,0.008319,41.962177,19.590730,8.234116,7.341528e+05,s

In [3]:
df.status.value_counts()

h    3
m    3
n    3
s    2
Name: status, dtype: int64

In [4]:
df['status'] = df['status'].map({'n':3,'m':2,'s':1,'h':0})



#print(df.to_string())

train, test = train_test_split(df, test_size = 0.2)

features = [ 'mean','max', 'kurtosis', 'variance', 'onenorm' ]

train_X = train[features]
train_y =train.status

test_X = test[features]
test_y = test.status

In [5]:
df.head()

,mean,max,kurtosis,variance,onenorm,mean1,max1,kurtosis1,variance1,onenorm1,status
0,-0.000020,6.976752,16.087093,0.111425,1.331746e+06,0.009558,33.622414,14.502220,7.907688,1.331746e+06,0
1,-0.000019,8.932420,13.212736,0.168242,1.055655e+06,0.002954,31.216814,12.244360,9.195284,1.055655e+06,0
2,-0.000047,7.912361,20.831987,0.147405,8.091255e+05,-0.005104,31.110516,12.372426,7.772573,8.091255e+05,0
3,-0.000557,35.947502,121.832101,1.085911,8.734991e+05,-0.002305,43.457676,12.853174,10.110199,8.734991e+05,1
4,-0.000187,38.968124,258.544464,0.497547,7.341528e+05,0.008319,41.962177,19.590730,8.234116,7.341528e+05,1

In [6]:
model = RandomForestClassifier(n_estimators=200, n_jobs=-1)
model.fit(train_X,train_y)

RandomForestClassifier(n_estimators=200, n_jobs=-1)

In [7]:
prediction = model.predict(test_X)
print(prediction)
metrics.accuracy_score(prediction,test_y)

[2 0 3]

0.3333333333333333

In [8]:
test_X.columns

Index(['mean', 'max', 'kurtosis', 'variance', 'onenorm'], dtype='object')

In [9]:
data = [[-0.000021, 6.976753, 16.087094,0.111426,1.341746e+06]]

new_df = pd.DataFrame(data,columns =['mean', 'max', 'kurtosis', 'variance', 'onenorm'])

In [10]:
new_df

       mean       max   kurtosis  variance    onenorm
0 -0.000021  6.976753  16.087094  0.111426  1341746.0

In [11]:
single = model.predict(new_df)

In [12]:
print(single)

[0]

In [13]:
test_X.head(5)

        mean        max    kurtosis  variance      onenorm
7  -0.000031  17.285910   23.876656  0.289634  1159192.618
10  0.000028   9.170563    7.641464  0.524186  1671090.929
4  -0.000187  38.968124  258.544464  0.497547   734152.768

In [14]:
test_y.head(5)

7     2
10    3
4     1
Name: status, dtype: int64

# Pickling model

In [15]:
import pickle

In [16]:
fname = 'PumpModel.pkl'
pickle.dump(model, open(fname, 'wb'))

In [17]:
load_model = pickle.load(open(fname,"rb"))

In [18]:
r=load_model.score(test_X, test_y)

In [19]:
r

0.3333333333333333